.contactanosFormulario {
	text-align: center;
	color: $color_3;
	background-color: $background-color_1;
	padding: 3%;
}
.formularioContacto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.inputFormulario {
		color: $color_4;
		margin: 15px;
		border: 2px;
		border-radius: 10px;
		width: 340px;
		box-shadow: 7px 13px 37px rgb(140, 139, 139);
	}
}
.paginaContacto {
	background-color: $background-color_1;
	padding: 5%;
}

.botonFormulario {
	background-color: $background-color_2;
	margin: 20px;
	color: $color_5;
	border-color: $border-color_1;
	&:hover {
		background-color: $background-color_3;
		color: $color_3;
		border-color: $border-color_2;
	}
}