$color_1: #ccbba9;
$color_2: black;
$color_3: white;
$color_4: grey;
$color_5: #d6ccc2;
$font-family_1: 'Aleo', serif;
$background-color_1: #d6ccc2;
$background-color_2: white;
$background-color_3: #ccbba9;
$background-color_4: rgb(211, 195, 180);
$border-color_1: white;
$border-color_2: #ccbba9;